@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "tailwindcss";

@plugin "@tailwindcss/typography";

@layer base {
  body {
    background-color: var(--background);
    color: var(--text-primary);
    font-family: 'Roboto', sans-serif;
  }

  :root {
    --background: #ffffff;
    --surface: #f9fafb;
    --border: #e5e7eb;
    --primary: #3b82f6;
    /* --primary-rgb: 59, 130, 246; */
    --text-primary: #111827;
    --text-secondary: #6b7280;
  }

  .dark {
    --background: #111827;
    --surface: #1f2937;
    --border: #374151;
    --primary: #60a5fa;
    /* --primary-rgb: 96, 165, 250; */
    --text-primary: #f9fafb;
    --text-secondary: #9ca3af;
  }
}

@layer components {
  .search-input {
    @apply w-full py-2 px-4 pl-10 rounded-md focus:outline-none focus:ring-2;
    background-color: var(--surface);
    color: var(--text-primary);
    --tw-ring-color: var(--primary);
  }

  .icon-button {
    @apply p-2 rounded-md transition-colors;
    color: var(--text-secondary);
  }

  .icon-button:hover {
    background-color: var(--border);
    color: var(--text-primary);
  }
}